{% block header %}
{% load static %}
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar10">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
	    	        <a class="nav-link" href="#">Наши товары</a>
        	    </li>
        	    <li class="nav-item">
        	        <a class="nav-link" href="#">Где попробовать?</a>
        	    </li>
        		<li class="nav-item">
        			<a class="navbar-brand active" href="/"><img src="{% static 'img/logo.png' %}" alt="" class="img-fluid"></a>
        	 	</li>
        	    <li class="nav-item">
        	        <a class="nav-link" href="#">Отзывы клиентов</a>
        	    </li>
        	    <li class="nav-item">
        	 		<a class="nav-link" href="#">Контакты</a>
        	    </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Корзина
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock header %}
